<form>
    <div class="form-group">
      <label for="bookurl">Book image url</label>
      <input type="url" (focusout)='enterBookUrl($event)' class="form-control" id="bookurl" aria-describedby="bookurl" placeholder="https://randomurl/image.jpg">
    </div>
    <div class="form-group">
        <label for="Author">Author name</label>
        <input type="text" (focusout)='enterAuthorDetail($event)' class="form-control" id="Author" aria-describedby="Author name" placeholder="rr martin">
      </div>
      <div class="form-group">
          <label for="book-name">Book name</label>
          <input type="text" (focusout)='enterBookName($event)' class="form-control" id="book-name" aria-describedby="Book name" placeholder="got">
        </div>
    <button type="button" (click)="checkData()" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-primary no-margin">clear</button>
  </form>
