<div *ngIf="users.length !== 0">
  <table class="table table-dark">
    <tr>
        <td scope="col-sm-12 col-md-4 col-lg-4">book url</td>
        <td scope="col-sm-12 col-md-4 col-lg-4">bookname </td>
        <td scope="col-sm-12 col-md-4 col-lg-4">authorName</td>
    </tr>
    <tr *ngFor="let user of users" >
            <td scope="col-sm-12 col-md-4 col-lg-4">{{ user.bookUrl }} </td>
            <td scope="col-sm-12 col-md-4 col-lg-4">{{ user.bookName }} </td>
            <td scope="col-sm-12 col-md-4 col-lg-4">{{ user.authorName }} </td>
    </tr>
  </table>
</div>
<div *ngIf="!users.length">
  <p class="text-center">
    No users stories yet!!!
  </p>
</div>
